{% extends "layout.html" %}
{% block title %}
Student Flask App with CRUD
{% endblock %}
{% block content %}
<div class="centerDiv">
    <div>
        <img src="https://flask.palletsprojects.com/en/3.0.x/_images/flask-horizontal.png" alt="Flask Logo">
        <h1>Welcome to my StudentDB Flask App!</h1>
        <p>This app made with Flask and aims to create and manage student database with basic CRUD operations with
            SQLite
            Database.</p>
    </div>
</div>
{% endblock %}